DATABASE_URL="postgresql://postgres:pw@localhost:5432/mdptv?schema=public"
REDIS_URL="redis://localhost:6379"
JWT_SECRET="supersecret_for_development"
JWT_REFRESH_SECRET="refresh_supersecret_for_development"
CORS_ORIGIN="http://localhost:3000"
NODE_ENV="development"
PORT=3005