@import "tailwindcss";

@theme {
  --color-background: #000000;
  --color-foreground: #ffffff;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  @keyframes text-glow {
    0% {
      background-position: 0% 50%;
    }

    50% {
      background-position: 100% 50%;
    }

    100% {
      background-position: 0% 50%;
    }
  }

  .animate-text-glow {
    background-size: 200% auto;
    animation: text-glow 4s linear infinite;
  }
}

/* Hide scrollbar for Lenis smooth scrolling but keep functionality */
html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}